@{
    ViewData["Title"] = "Portfolio";
}

 <div id="home" class="hero-section text-white text-center d-flex align-items-center">
    <div class="container">

        <h1 class="display-3 fw-bold">Hi, I'm Mihail Milenkov</h1>

        <p class="lead mt-3">
            Software Developer solving modern problems with modern solutions
        </p>

        <div class="mt-4">
            <a href="#projects" class="btn btn-outline-light btn-lg me-3">Projects</a>
            <a href="#contact" class="btn btn-outline-light btn-lg me-3">Contacts</a>
            <a href="https://github.com/MihailMilenkov" target="_blank"class="btn btn-outline-light btn-lg">View My GitHub</a>
        </div>

    </div>
</div>

<!-- TECH STACK -->

<section class="container py-5">
    <h2 class="text-center mb-5">Tech Stack</h2>
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <div class="tech-box">
                <h5>C#</h5>
                <p>Primary programming language</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="tech-box">
                <h5>ASP.NET Core</h5>
                <p>MVC / Web API / Razor</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="tech-box">
                <h5>Entity Framework</h5>
                <p>ORM & database access</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="tech-box">
                <h5>SQL Server</h5>
                <p>Database design & queries</p>
            </div>
        </div>
    </div>
</section>

<!-- PROJECTS -->

<section id="projects" class="projects-section py-5">
    <div class="container">
        <h2 class="text-center mb-5 text-white">Projects</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <a class="nav-link text-dark" target="_blank" href="https://github.com/MihailMilenkov/Food.Recipes.ASP.Net">
                    <div class="project-card">
                        <h4>Food recipes</h4>
                        <p>
                            Full-featured online recipe forum with authentication,
                            admin dashboard.
                        </p>
                        <small>Tech: ASP.NET Core MVC • Razor Pages • EF Core • SQL Server • Microsoft Identity • Bootstrap • GitHub • Azure Deployment</small> <br />
                        <small>Features: Cashing • Paging • Authentication • Authorization • REST API </small>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="WorkInProgress">
                    <div class="project-card">
                        <h4>Muffin Task Manager</h4>
                        <p>
                            Productivity system for teams to manage tasks,
                            deadlines and projects.
                        </p>
                        <small>ASP.NET Core • REST API • Bootstrap</small>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="WorkInProgress">
                    <div class="project-card">
                        <h4>Muffin Blog Platform</h4>
                        <p>
                            Blogging system with admin dashboard,
                            comments and user authentication.
                        </p>
                        <small>ASP.NET MVC • Identity • SQL Server</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<!-- EXPERIENCE TIMELINE -->

<section class="container py-5">
    <h2 class="text-center mb-5">Experience</h2>
    <div class="timeline">
        <div class="timeline-item">
            <h5>SAP & DB Enterprise Tech Support</h5>
            <span>2023/03 – Present</span>
            <p>Providing SAP and database tech support to enterprise customers in office hours.</p>
        </div>

        <div class="timeline-item">
            <h5>Graphtalk Insurance Developer</h5>
            <span>2022/09 – 2023/02</span>
            <p>Worked on an internship for a insurance software for the French market.</p>
        </div>

        <div class="timeline-item">
            <h5>SoftUni ASP.Net Web Development</h5>
            <span>2019/09 – 2021</span>
            <p>Completed the web developer path.</p>
        </div>

        <div class="timeline-item">
            <h5>Technical University Gabrovo</h5>
            <span>2026 - 2032</span>
            <p>Currently pursuing a Master’s degree in Software and Computer Engineering at TU Gabrovo</p>
        </div>
    </div>
</section>



<!-- CONTACT -->

<section id="contact" class="contact-section text-center py-5">
    <div class="container">
        <h2>Contacts</h2>
        <p class="mt-3">
            If you'd like to work together or discuss opportunities.
        </p>

        <p class="mt-4">
            Email me at: <span class="d-inline-flex align-items-center">
                <span id="emailText">mihailmilenkov681@gmail.com</span>
                <button class="btn btn-sm btn-outline-none ms-2" onclick="copyEmail()">
                    📋
                </button>
                <span id="copyMsg" class="ms-2 text-success" style="display:none;">
                    Copied!
                </span>
            </span> <br>

            Phone: +359 885 023 271 <br>

            GitHub:
            <a href="https://www.linkedin.com/in/mihail-milenkov-543895243/" target="_blank" class="contacts-link">View My LinkedIn</a> <br>

            LinkedIn:
            <a href="https://github.com/MihailMilenkov" target="_blank" class="contacts-link">View My GitHub</a>
        </p>
    </div>
</section>